<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center jumbotron jumbotron-text">

      <h1>Welcome to the App</h1>

      <h2 class="jumbotron-text">
        This is the home page for learning.
      </h2>


      <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>

    </div>

    <%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org' %>
<% end %>